<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
{% extends "catalog/navbar.html" %}

{% block content %}
<div class='container-fluid'>
	<div class='row'>
		<div class='col-lg-11 ml-3 mr-3 mt-5'>
			<div class='card border border-warning mt-2 offset-md-1'>
				<div class= 'card-body'>
					<div class='card-title'>
						<h1 class='display-4 bg-white' style=' margin-top: -1em!important '>Sobre Nós </h1>
					</div>
				<div class='row'>
					<div class='col-8'>
						<div class='card-text m-2 ml-4'>
							<p class='lead'>SOmos uma empresa, tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal</p>

							<p class='lead'>SOmos uma empresa, tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal</p>

							<p class='lead'>SOmos uma empresa, tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal tal</p>

						<p class='lead font-weight-normal'>
							contactos:
							<br>  <span class='ml-3'> E-mail: something@gmail.com </span><br><span class='ml-3'> Telefone: 911203301 </span></span>
						</p>
					 </div>
					</div>

					<div class='col-3 '>
						<img src="http://static.dezeen.com/uploads/2011/02/dzn_Y-Di-Cassanova-by-Van-Halewyck-and-Marco-Architects-5.jpg">
					</div>
				</div>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock content %}
</body>
</html>